
body {
    font-family: Arial;
    background-color: #000000;
  }
  h1 {
    color: #ff2273;
  }
  h2 {
    color: #ff2273;
  }
  p {
    color: #ff2273;
  }

  nav {
    /* background: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%); */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 10px; /* Stay at the top */
  right: 10px;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0px;
  color: #ff2273;


  }
  nav a {
    background: fff;
      float: right;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 1px 16px;
      transition: 0.3s;
      font-size: 20px;
      color: #68d0e0; /* blue colors for links too */
    text-decoration: inherit; /* no underline */

    @supports (background-clip:text) or (-webkit-background-clip:text) 
    {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(90deg, #FC466B 0%, #3F5EFB 100%);
      }
    
  }


  nav a:hover {
    color: #ff96bc;
  }
  nav a.active {
    color: #ffffff;
  }

  nav a.accent {
    color: #08d6a5;
    @supports (background-clip:text) or (-webkit-background-clip:text) 
    {
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        background-image: linear-gradient(90deg, #00C9FF 0%, #92FE9D 100%);
      }
  }
  nav a.accent:hover {
    color: #b9f0e3
  }
  